.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(54, 58, 58);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  /* Відступ для хедера */
}

.manga {
  width: 80%;
  background-color: black;
  margin-top: 20px;
}

.column {
  width: 10%;
  background-color: rgb(54, 58, 58);
}