<div class="game">
    <h1>Хрестики-нулики</h1>
    <div *ngIf="winner" class="winner">
      Переможець: {{ winner }}
    </div>
    <div *ngIf="draw" class="draw">
      Гра завершилася внічию!
    </div>
    <div class="board">
      <div *ngFor="let row of board; let rowIndex = index" class="row">
        <div *ngFor="let cell of row; let colIndex = index" 
             class="cell" 
             (click)="makeMove(rowIndex, colIndex)">
          {{ cell }}
        </div>
      </div>
    </div>
    <button (click)="newGame()">Нова гра</button>
  </div>
  